include ./../../templates/mixin.jade
+extends('./templates/index')

+section('Title')
    title Processo Criativo da Designer Simone Heringer

+section('MetaDescription')
    meta(name="description", content="Por traz de tanta criatividade existe um processo. Qual será? Simone Heringer mostra o seu particular método para desenvolver seus incrèiveis projetos.")/

+section('MetaKeywords')
    meta(name="keywords", content="metodo design de interiores, projetos para Igrejas Evangelicas, reformas igrejas evangelicas, reforma casas, decoração de lojas, design de interiores BH, processo criativo decoração, simone heringer, igrejas evangelicas interior de minas, projetos jardins")/

+section('cssPagina')
    link(rel="stylesheet", href!="{{ asset('css/processo.css') }}", type="text/css")/

+section('content')
    include ./_partial

+section('jsPagina')
    script(src!="{{ asset('bower/jquery-ui/jquery-ui.min.js')}}", type="text/javascript")
    script(src!="{{ asset('bower/jquery-ui/ui/minified/tooltip.min.js')}}", type="text/javascript")
    script(src!="{{ asset('js/processo.min.js')}}", type="text/javascript")
