body {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@media (max-width: 1270px) {
  body {
    overflow: scroll;
  }
}
div#fascia_logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
}
@media (min-width: 1366px) {
  div#fascia_logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1360px) {
  div#fascia_logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1270px) {
  div#fascia_logo {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
div#fascia_logo a {
  display: block;
  position: relative;
}
@media (min-width: 1366px) {
  div#fascia_logo a {
    left: 50%;
    margin-left: -100px;
    height: 50px;
  }
}
@media (max-width: 1360px) {
  div#fascia_logo a {
    left: 50%;
    margin-left: -60px;
    height: 30px;
  }
}
@media (max-width: 1270px) {
  div#fascia_logo a {
    left: 50%;
    margin-left: -60px;
    height: 30px;
  }
}
@media (min-width: 1366px) {
  div#fascia_logo a img {
    width: 200px;
    height: 50px;
  }
}
@media (max-width: 1360px) {
  div#fascia_logo a img {
    width: 120px;
    height: 30px;
  }
}
@media (max-width: 1270px) {
  div#fascia_logo a img {
    width: 120px;
    height: 30px;
  }
}
body > header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99999;
}
@media (min-width: 1366px) {
  body > header {
    min-width: 100px;
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1360px) {
  body > header {
    min-width: 50px;
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1270px) {
  body > header {
    min-width: 0;
    width: auto;
    height: 100%;
  }
}
body > header div#espandi_menu {
  float: right;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  cursor: pointer;
}
@media (min-width: 1366px) {
  body > header div#espandi_menu {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    margin-left: 50px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  body > header div#espandi_menu:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }
}
@media (max-width: 1360px) {
  body > header div#espandi_menu {
    position: fixed;
    top: 50%;
    margin-top: -25px;
    margin-left: 25px;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  body > header div#espandi_menu:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }
}
@media (max-width: 1270px) {
  body > header div#espandi_menu {
    position: absolute;
    top: 0;
    margin: 0 !important;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  body > header div#espandi_menu:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    opacity: 0.8;
  }
}
body > header nav {
  position: fixed;
  float: left;
  overflow: hidden;
  width: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 111111;
  text-align: center;
}
body > header nav img {
  margin-top: 25%;
}
body > header nav ul.internal {
  padding: 10% 0;
  margin-top: 3%;
  margin-left: 20%;
  border-top: 1px solid #9A9C17 !important;
  border-bottom: 1px solid #9A9C17 !important;
  width: 60%;
}
body > header nav ul.internal li a {
  text-transform: uppercase;
  color: #9A9C17 !important;
  display: block;
  overflow: hidden;
  padding: 3% 0;
  height: 3%;
}
body > header nav ul.internal li a:hover {
  text-decoration: underline;
}
body > header nav ul.external {
  background-color: #ccc;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
}
body > header nav ul.external li {
  display: block;
  float: left;
  margin-right: 15px;
}
body > header nav ul.external li a {
  font-size: 25px;
  color: #9A9C17 !important;
}
body > header nav ul.external li a:hover {
  opacity: 0.7;
}
div#barra_destra {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #fff;
  z-index: 9999;
}
@media (min-width: 1366px) {
  div#barra_destra {
    margin-left: -100px;
    width: 65px;
    height: 100%;
    padding-left: 35px;
  }
}
@media (max-width: 1360px) {
  div#barra_destra {
    margin-left: -50px;
    width: 40px;
    height: 100%;
    padding-left: 10px;
  }
}
@media (max-width: 1270px) {
  div#barra_destra {
    display: none!important;
  }
}
div#barra_destra .contextual_nav {
  position: fixed;
  width: 30px;
  height: 260px;
  top: 50%;
  margin-top: -130px;
  overflow: hidden;
}
div#barra_destra .contextual_nav ul {
  height: auto;
  width: 30px;
  margin-top: 90px;
  padding: 0;
}
div#barra_destra .contextual_nav ul li {
  display: block;
  overflow: hidden;
}
div#barra_destra .contextual_nav ul li:nth-child(2) {
  margin-top: 20px;
}
div#barra_destra .contextual_nav ul .cerchio {
  width: 10px;
  height: 0;
  overflow: hidden;
  margin-left: 10px;
  background-color: #9A9C17 !important;
  margin-bottom: 0;
  opacity: 0.3;
  border-radius: 5px;
}
div#barra_destra .contextual_nav ul li[role=prev],
div#barra_destra .contextual_nav ul li[role=next] {
  width: 30px;
  height: 30px;
  color: #9A9C17 !important;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
div#barra_destra .contextual_nav ul li[role=prev]:hover,
div#barra_destra .contextual_nav ul li[role=next]:hover {
  color: #666 !important;
}
body > footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  color: #9A9C17 !important;
  text-align: center;
}
@media (min-width: 1366px) {
  body > footer {
    width: 100%;
    height: 50px;
    padding-top: 30px;
    font-size: 0.8em;
  }
}
@media (max-width: 1360px) {
  body > footer {
    width: 100%;
    height: 31px;
    padding-top: 19px;
    font-size: 0.6em;
  }
}
@media (max-width: 1270px) {
  body > footer {
    display: none!important;
  }
}
body > footer img {
  width: 15px;
  height: 15px;
}
@media (min-width: 1366px) {
  body > footer img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 1360px) {
  body > footer img {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1270px) {
  body > footer img {
    display: none!important;
  }
}
@media (min-width: 1366px) {
  body > section {
    margin: 80px 100px 80px 100px;
    background: url('../img/layout/sfondo_body.png') center center no-repeat;
  }
}
@media (max-width: 1360px) {
  body > section {
    margin: 50px 50px 50px 50px;
    background: url('../img/layout/sfondo_body.png') center center no-repeat;
  }
}
@media (max-width: 1270px) {
  body > section {
    margin: 50px 0 0 0;
  }
}
#oscura {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111;
  background-color: rgba(0, 0, 0, 0.5);
}
body > section article {
  width: 100%;
  height: 100%;
  color: #666;
  padding-top: 5%;
}
body > section article .bigger {
  font-size: 1.2em;
}
body > section article .bold {
  font-weight: bold;
}
body > section article .verde {
  color: #9A9C17 !important;
}
body > section article header h1 {
  margin-top: 0;
  /*verifica responsive*/
  margin-left: 8.4%;
  /*verifica responsive*/
  text-transform: uppercase;
  font-size: 1.5em;
}
body > section article header h1 span {
  font-size: 0.55em;
  /*verifica responsive*/
}
body > section article div.filetto_titoli {
  margin-top: 0.2%;
  /*verifica responsive*/
  width: 24.4%;
  height: 5px;
  /*verifica responsive*/
  background-color: #9A9C17 !important;
}
@media (min-width: 1280px) {
  body > section article p {
    margin-left: 8.4%;
    width: 50.4%;
    margin-top: 3%;
    font-size: 0.80em;
    line-height: 1.5em;
    text-align: justify;
  }
}
@media (max-width: 1270px) {
  body > section article p {
    margin-left: 8.4%;
    width: 41.2%;
    margin-top: 6%;
    font-size: 0.95em;
    line-height: 1.7em;
    text-align: left;
  }
}
#barra_destra > * {
  display: none !important;
}
article#contatti p.generale a {
  font-style: normal !important;
  color: #9A9C17 !important;
}
article#contatti p.generale a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #333;
  transition: all 0.5s ease-in;
}
@media (min-width: 1280px) {
  article#contatti form#form {
    float: left;
    margin-top: -1%;
    margin-left: 8.4%;
    width: 41.2%;
    text-align: left;
  }
}
@media (max-width: 1270px) {
  article#contatti form#form {
    margin-top: 10%;
    margin-left: 8.4%;
    width: 83.2%;
    text-align: left;
  }
}
article#contatti form#form .contenitore_sx,
article#contatti form#form .contenitore_dx,
article#contatti form#form .contenitore_c {
  margin-bottom: 3%;
  overflow: hidden;
}
@media (min-width: 1280px) {
  article#contatti form#form .contenitore_sx,
  article#contatti form#form .contenitore_dx {
    width: 41.2%;
    height: 62px;
    float: left;
  }
}
@media (max-width: 1270px) {
  article#contatti form#form .contenitore_sx,
  article#contatti form#form .contenitore_dx {
    width: 100%;
    height: 62px;
  }
}
@media (min-width: 1280px) {
  article#contatti form#form .contenitore_dx {
    margin-left: 8.4%;
  }
}
@media (max-width: 1270px) {
  article#contatti form#form .contenitore_dx {
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  article#contatti form#form .contenitore_c {
    width: 91.6%;
    height: 62px;
  }
}
@media (max-width: 1270px) {
  article#contatti form#form .contenitore_c {
    width: 100%;
    height: 62px;
  }
}
article#contatti form#form .contenitore_c .sfondo {
  width: 100%;
  height: 80px;
}
article#contatti form#form label {
  color: #9A9C17 !important;
  font-size: 0.8em;
  padding-left: 20px;
}
article#contatti form#form .sfondo {
  width: 100%;
  height: 40px;
  background-color: #9A9C17 !important;
  margin-top: 7px;
}
article#contatti form#form input,
article#contatti form#form textarea {
  position: relative;
  top: 28px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #fff;
}
article#contatti form#form input::-webkit-input-placeholder,
article#contatti form#form textarea::-webkit-input-placeholder {
  color: #fff;
}
article#contatti form#form input:-moz-placeholder,
article#contatti form#form textarea:-moz-placeholder {
  color: #fff;
}
article#contatti form#form input::-moz-placeholder,
article#contatti form#form textarea::-moz-placeholder {
  color: #fff;
}
article#contatti form#form input:-ms-input-placeholder,
article#contatti form#form textarea:-ms-input-placeholder {
  color: #fff;
}
article#contatti form#form input:-webkit-autofill,
article#contatti form#form textarea:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
}
article#contatti form#form input:focus,
article#contatti form#form textarea:focus,
article#contatti form#form input:active,
article#contatti form#form textarea:active,
article#contatti form#form input:hover,
article#contatti form#form textarea:hover {
  outline: 0 !important;
  background-color: rgba(0, 0, 0, 0);
}
article#contatti form#form input {
  width: 83.2%;
  height: 30px;
  margin: 0 8.4% 5px 8.4%;
}
article#contatti form#form textarea {
  margin: 8px 0 -18px 5%;
  max-width: 90%;
  min-width: 90%;
  max-height: 45px;
  min-height: 45px;
  resize: none;
}
article#contatti form#form input#bottone {
  cursor: pointer;
  background-color: #9A9C17 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}
@media (min-width: 1280px) {
  article#contatti form#form input#bottone {
    width: 91.6% !important;
    margin: -4% 0 0 0 !important;
  }
}
@media (max-width: 1270px) {
  article#contatti form#form input#bottone {
    width: 100% !important;
    margin: -4% 0 0 0 !important;
  }
}
@media (min-width: 1280px) {
  article#contatti div#info {
    float: right;
    width: 49.6%;
    height: auto;
  }
}
@media (max-width: 1270px) {
  article#contatti div#info {
    margin-top: 10%;
    width: 83.2%;
    height: auto;
    background-color: #9A9C17 !important;
    padding: 5% 8.4%;
    color: #fff;
  }
}
article#contatti div#info ul {
  display: inline-block;
}
article#contatti div#info h3 {
  display: inline;
  font-size: 1em;
}
@media (min-width: 1280px) {
  article#contatti div#info h3 {
    color: #9A9C17 !important;
  }
}
@media (max-width: 1270px) {
  article#contatti div#info h3 {
    color: #fff;
  }
}
article#contatti div#info h4 {
  display: inline;
  font-size: 0.95em;
  font-weight: normal;
}
article#contatti div#info address {
  margin-top: 2%;
  font-size: 0.8em;
}
article#contatti div#info address .evidenzia {
  font-style: normal !important;
  text-transform: uppercase;
}
@media (max-width: 1270px) {
  article#contatti div#info address .evidenzia {
    display: block;
    font-weight: bold;
    margin-top: 5%;
  }
}
article#contatti div#info address a.redessociais {
  font-size: 1.3em;
  text-decoration: none;
  padding: 5px;
  opacity: 0.5;
}
@media (min-width: 1280px) {
  article#contatti div#info address a.redessociais {
    color: #333;
  }
}
@media (max-width: 1270px) {
  article#contatti div#info address a.redessociais {
    color: #fff;
  }
}
article#contatti div#info address a.redessociais:hover {
  opacity: 1;
  transition: all 0.8s ease-in;
}
@media (min-width: 1280px) {
  article#contatti div#info address a.redessociais:hover {
    color: #9A9C17 !important;
  }
}
article#contatti div#info address a.outroslinks {
  font-style: normal !important;
}
@media (min-width: 1280px) {
  article#contatti div#info address a.outroslinks {
    color: #9A9C17 !important;
  }
}
@media (max-width: 1270px) {
  article#contatti div#info address a.outroslinks {
    color: #fff;
  }
}
article#contatti div#info address a.outroslinks:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #333;
  transition: all 0.5s ease-in;
}
article#contatti aside#privacy {
  font-size: 0.6em;
}
article#contatti aside#privacy .maiuscolo {
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  article#contatti aside#privacy {
    margin-top: 2%;
    margin-right: 8.4%;
    width: 41.2%;
    height: auto;
    float: right;
    clear: right;
  }
}
@media (max-width: 1270px) {
  article#contatti aside#privacy {
    margin-top: 15%;
    padding: 5% 8.4%;
    width: 83.2%;
    height: auto;
    background-color: #9A9C17 !important;
    color: #fff;
  }
}
