include ./../../templates/mixin.jade
+extends('./templates/index')

+section('Title')
    title Portfólio de Simone Heringer

+section('MetaDescription')
    meta(name="description", content="Meu Portfólio - Conheça alguns dos meus trabalhos")/

+section('MetaKeywords')
    meta(name="keywords", content="Portfolio Simone Heringer, Projetos de Igrejas, Primeira Igreja presbiteriana, Projetos residenciais, Projetos de casas, reformas de casas, decoração de casas, inspiração para reformar a casa, Design de lojas, Ambientação, Paisagismo, Mobiliando a casa")/

+section('cssPagina')
    link(rel="stylesheet", href!="{{ asset('css/portfolio.css') }}", type="text/css")/

+section('content')
    include ./_partial

+section('jsPagina')
    script(src!="{{ asset('js/portfolio.min.js')}}", type="text/javascript")