//richiamo i file less per ereditare le funzioni, ma senza stamparli
@import (reference) "../../bower/atemporaleNEXTbower/less/grid_system12.less";
@import (reference) "../../bower/atemporaleNEXTbower/less/material_design_color_palette.less";
@import (reference) "../../bower/atemporaleNEXTbower/less/mixin_css3.less";
@import (reference) "../../bower/atemporaleNEXTbower/less/mixin_posizione.less";
@import (reference) "../../bower/atemporaleNEXTbower/less/mixin_testo.less";

//stampo le formattazioni generali di default
@import (reference) "../../bower/atemporaleNEXTbower/less/start.less";

//stampo le formattazioni dei componenti
@import "../components/layout.less";
@import "../components/_template_fisso.less";

//stampo le regole per questa pagina
div#barra_destra > *{display: none !important;}


article#processo{
  ul{
    .testo_centro;

    @media (min-width: 1280px){// schermi 1280 o superiori
      margin: 5.5% @col-1;
      .size(@col-10;80px);
      padding: 0;
    }
    @media (max-width: 1270px){// schermi inferiori a 1280
      margin-top: 10%;
      .size(@col-12;auto);
      padding: 20px @col-1;
      background-color: @brand-verde;
    }

    li{
      @media (min-width: 1280px){// schermi 1280 o superiori
        .size(@col-2;70px);
        .block;
        .left;
        border-right:1px solid #ddd;
        color:#666;
      }
      @media (max-width: 1270px){// schermi inferiori a 1280
        .size(@col-10;auto);
        .testo_centro;
        margin-bottom: 7%;
        border-right:0;
        color:#fff;
      }


      &:first-child{
        margin-left: @offset-2col;
        @media (max-width: 1200px){
          margin-left: 0;
        }
      }
      &:last-child{
        border:0;
      }
      h2{

        cursor: pointer;

        @media (min-width: 1280px){// schermi 1280 o superiori
          font-size: 0.7em;
          .maiuscolo;
          padding:0 20px;
        }
        @media (max-width: 1270px){// schermi inferiori a 1280
          font-size: 1.2em;
        }

        span{

          @media (min-width: 1280px){// schermi 1280 o superiori
            font-size: 2em;
            margin-bottom: 4%;
            .block;
          }
          @media (max-width: 1270px){// schermi inferiori a 1280
            font-size: 0.7em;
            margin-bottom: 0;
            .block;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.ui-tooltip, .arrow:after {
  background: @brand-verde;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font-size: 0.7em;
  box-shadow: 0 0 7px black;
  width: 200px;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
  .top{
    top: -16px;
    bottom: auto;
    &:after {
      bottom: -20px;
    }
  }
  .left{
    left: 20%;
  }
  &:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}