include ./../../templates/mixin.jade
article(role="region", id="sobre")
    header(role="heading")
        h1
            !='Sobre<span itemprop="founder">Simone Heringer</span>'
    .filetto_titoli

    p.generale
        !='<span class="destak">Simone Heringer</span> &eacute; graduada em'
        span.bold(itemprop="makesOffer")
            ='Design de Ambientes'
        !='pela Universidade do Estado de Minas Gerais<abbr title="Universidade Do Estado de Minas Gerais">&#40;UEMG&#41;.</abbr> Com escrit&oacute;rio pr&oacute;prio localizado na regi&atilde;o da'
        span(itemprop="location")
            ='Savassi em Belo Horizonte-MG,'
        ='desenvolve'
        span.bold(itemprop="makesOffer")
            !='projetos de decora&ccedil;&atilde;o e paisagismo'
        ='para ambientes'
        span.bold(itemprop="makesOffer")
            ='residenciais, comerciais, coorporativos'
        ='e a sua grande especialidade: projetos para'
        span.bold(itemprop="makesOffer")
            !='Igrejas Evang&eacute;licas.'
        br/
        br/
        !='Quem conhece Simone sabe que ela exerce sua profiss&atilde;o com muito'
        span.bold
            !='amor, apuro e dedica&ccedil;&atilde;o.'
        !='Atrav&eacute;s de sua sensibilidade, investiga minuciosamente a personalidade, necessidades, h&aacute;bitos, valores e aspira&ccedil;&otilde;es de seus clientes para concretiz&aacute;-los em'
        span.bold
            !='ambientes que v&atilde;o al&eacute;m do belo'
        !='e valorizam a relaç&atilde;o do'
        span.bold
            !='indiv&iacute;duo com o espa&ccedil;o'
        !='atrav&eacute;s da combina&ccedil;&atilde;o de'
        span.bold
            !='conceito, conforto, funcionalidade, est&eacute;tica, economia  e inovaç&atilde;o.'

        a.b1(href!="{{route('public.servizi')}}", title="Clique para conhecer os servi&ccedil;os oferecidos pelo escrit&oacute;rio de Simone Heringer")
            !='Conhe&ccedil;a nossos servi&ccedil;os'
