include ./../../templates/mixin.jade
article.servizi
    header
        h1
            !='serviços <span>e solu&ccedil;&otilde;es</span>'
    .filetto_titoli

    p.generale
        span.bold
            ='Reformar, construir ou decorar'
        !='parece algo intermin&aacute;vel, ainda mais quando se tem que decidir cada detalhe sozinho.'
        span.bold
            ='Sem a ajuda de um profissional, os resultados podem ser indesejados'
        !='como: ambientes inadequados ao uso, incompatibilidade t&eacute;cnica e de estilo de produtos, retrabalho, gastos n&atilde;o planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso,'
        span.bold
            ='o nosso estúdio oferece resultados inteligentes para você passar por esta experi&ecirc;ncia de forma positiva economizando stress, tempo e dinheiro.'
        !='Veja abaixo nossos servi&ccedil;os e descubra:'
        span.verde
            !='qual solu&ccedil;&atilde;o voc&ecirc; escolhe, para fazer o seu projeto acontecer?'

    ul
        li
            a(href="#pac1", title="")
                img(src="#", alt="")/
                h2
                    span
                        !='Solu&ccedil;&otilde;es Completas'
                    !='Projetos para Igrejas Evang&eacute;licas'

        li
            a(href="#pac2", title="")
                img(src="#", alt="")/
                h2
                    span
                        !='Solu&ccedil;&otilde;es para demandas especificas'
                    !='Projetos para residencias'

        li
            a(href="#pac3", title="")
                img(src="#", alt="")/
                h2
                    span
                        !='Consultorias e assessoria'
                    !='Outros projetos'




    article.pac1
        header
            h2
                !='Solu&ccedil;&otilde;es completas'
        .filetto_titoli

        p.specifico
            !='Projetar igrejas é contemplar soluções que expressem a identidade cultural e doutrinária.'
            span.tasto_voce1
                !='Design de Ambientes'
            span.tasto_voce2
                !='Paisagismo'
            span.tasto_voce3
                !='Design de Igrejas'

        .box_affiancato
            h3
                span.voce1
                    !='Design de Ambientes'
                span.voce2
                    !='Paisagismo'
                span.voce3
                    !='Design de Igrejas'
            .filetto_titoli
            p
                span.voce1
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
                span.voce2
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
                span.voce3
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'


    article.pac2
        header
            h2
                Pacchetto specifico
        .filetto_titoli

        p.specifico
            Projetar igrejas é contemplar soluções que expressem a identidade cultural e doutrinária.
            span.tasto_voce1
                Lighting design
            span.tasto_voce2
                Design de Moveis

        .box_affiancato
            h3
                span.voce1
                    ='Lighting design'
                span.voce2
                    ='Design de Moveis'

            .filetto_titoli
            p
                span.voce1
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
                span.voce2
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'


    article.pac3
        header
            h2
                ='Consultoria'
        .filetto_titoli

        p.specifico
            ='Projetar igrejas é contemplar soluções que expressem a identidade cultural e doutrinária.'
            span.tasto_voce1
                ='Voce 1'
            span.tasto_voce2
                ='Voce 2'
            span.tasto_voce3
                ='Voce 3'

        .box_affiancato
            h3
                span.voce1
                    ='Voce 1'
                span.voce2
                    ='Voce 2'
                span.voce3
                    ='Voce 3'
            .filetto_titoli
            p
                span.voce1
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
                span.voce2
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
                span.voce3
                    !='Reformar, construir ou decorar parece algo interminável, ainda mais quando se tem que decidir cada detalhe sozinho. Sem a ajuda de um profissional, os resultados podem ser indesejados como: ambientes inadequados ao uso, incompatibilidade técnica e de estilo de produtos, retrabalho, gastos não planejados, sem contar o tempo e o grande desgaste emocional. Pensando nisso, o nosso estúdio oferece resultados inteligentes para você passar por esta experiência de forma positiva economizando stress, tempo e dinheiro. Veja abaixo nossos serviços e descubra: qual a melhor solução para fazer o seu projeto acontecer?'
