include ./../../templates/mixin.jade
.vs-slider
    article.vs-section.active
    article.vs-section
    article.vs-section
    article.vs-section
    article.vs-section
    article.vs-section

section#schede(role="region")
    #contenuto.visible
        article.contenuti_descrizione
            header
                .filetto
            h1
                = 'Primeira Igreja Presb. de BH'
                a.fa.fa-chevron-right(href!="{{route('public.progetto_2')}}", title="vai ao pr&oacute;ximo projeto")

            h2
                !='<i class="fa fa-home">Design de Igrejas</i>'
                br
                !='&#35;'+'ProjetosIgrejasEvang&eacute;licas,' + '&#35;'+'Reformas,' + '&#35;'+'DesignDeIgrejas,'+ '&#35;'+'DesignDeInterioresBH'
            h3
                != 'Revitalizaç&atilde;o da 1a. Igreja Presbiteriana de BH: valorizando a historia, regenerando vidas.'
        .filetto
        p
            ='Inspirado nos atributos da Oliveira, como adaptação e regeneração, o escopo do projeto é externar saúde e vida. O ponto de partida foi a valorização da história e a tradição da instituição. O principal desafio é aprimorar a funcionalidade e revigorar as instalações para melhor atender aos usuários e à dinâmica do crescimento de atividades em proporção ao espaço.'
            br
            br
            span.desc
                !='<span class="bold">Conceito:</span> Oliveira'
                br
                !='<span class="bold">Caracteristicas essenciais:</span> acessibilidade, versatilidade, acolhimento'
                br
                !='<span class="bold">Demandas</span>: Design de interiores salão de eventos, banheiros públicos, cozinha, ambiente para café e paisagismo.'
                br
    ul#navigazione.visible
        li#apri_chiudi.nonselezionato.fa
